@define-color bg    #1a1b26; 
@define-color fg    #a9b1d6; 
@define-color blk   #24283b; 
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #414868; 
@define-color white #ffffff; 
@define-color bgpop #1E2030;

* {
  all:unset;  
  font-family: "Mononoki Nerd Font Propo";
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  color: @fg;
  background: alpha(@bg, 0);
}

#workspaces {
  margin: 0px 4px;
  padding: 5 10px;
  border-radius: 8px;
  background: alpha(@bg, 1);
}

#workspaces button {
  margin: 0px 0px;
  padding: 5 10px;
  color: @blu;
}

#workspaces button.active {
    color: @grn;
}

#workspaces button.empty {
    color: @fg;
}
#workspaces button.empty.active {
    color: @grn;
}

#workspaces button.urgent {
    color: @red;
}

button:hover {
    color: @blu;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#tray {
  margin: 0px 4px;
  padding: 5 10px;
  border-radius: 8px;
  color: @fg;
  background: alpha(@bg, 1);
}

#battery {
    color: @grn
}
#memory {
    color: @ylw
}

#network,
#pulseaudio{
    color: @blu
}
#clock{
    color: @mag
}
