@define-color bg    #1a1b26; 
@define-color fg    #a9b1d6; 
@define-color blk   #24283b; 
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #414868; 
@define-color white #ffffff; 
@define-color bgpop #1E2030;

* {
  all:unset;  
  font-family: "Mononoki Nerd Font Propo";
  font-size: 16px;
  font-weight: bold;
  /*opacity: 1.0;*/
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
}

/*bar itself*/
window#waybar {
  color: @fg;
  background: alpha(@bg, 1);
  /*background: @bg;*/
  border-radius: 5px;
}

#workspaces {
  margin: 4px 4px;
  border-radius: 5px;
}

#workspaces button {
  margin: 0px 0px;
  padding: 0px 5px;
  border-radius: 5px;
  color: @fg;
}

#workspaces button.active {
    background: @blu;
    color: @blk
}

#workspaces button.empty {
    color: @fg;
}
#workspaces button.empty.active {
    background: @ylw;
    color: @blk
}

#workspaces button.urgent {
    color: @red;
}

button:hover {
    color: @blu;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#tray {
    margin: 0px 0px;
    padding: 0px 5px;
    color: @fg;
}
