@define-color foreground #e0def4;
@define-color background #191724;


@define-color subtle #908caa;
@define-color surface #1f1d2e;


@define-color red #eb6f92;
@define-color red-surface #2E202F;

@define-color pine #31748f;
@define-color pine-surface #1B202F;

@define-color yellow #f6c177;
@define-color blue #9ccfd8;
@define-color magenta #c4a7e7;
@define-color rose #ebbcba;

* {
  all:unset;  
  font-family: "Mononoki Nerd Font Propo";
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  color: @foreground;
  background: @background;
}

tooltip {
    border-radius: 10px;
    color: @foreground;
    background: @background;
}

tooltip label {
    color: @foreground;
}

#workspaces {
  /* margin: 0px 10px; */
  /* border-radius: 8px; */
}
/* Workspaces */
#workspaces button {
    padding: 2px 4px;
    margin: 6px 6px;
    color: @rose;
    background: @surface;
    
    border-style: solid;
    border-radius: 10px;
    /* border-radius: 8px; */
    border-color: @surface;
    transition: all 0.2s ease;
}

#workspaces button.active {
    color: @red;
    background: @red-surface;
}
#workspaces button.empty {
    color: @subtle;
}
#workspaces button.empty.active {
    color: @red;
}
/* Clock */

#clock,#memory, #cpu, #disk,#custom-power,#pulseaudio,#network,#temperature,#battery,#bluetooth{
    border-radius: 10px;
    margin: 6px 6px;
    padding: 4px 4px;
    color: @subtle;
    background: @surface;
}

#clock{
    margin-top: 12px;
    color: @red;
    background: @red-surface;
}

#custom-power{
    margin-bottom: 12px;
    color: @pine;
    background: @pine-surface;
}
