@define-color foreground #e0def4;
@define-color background #191724;


@define-color subtle #908caa;
@define-color surface #1f1d2e;


@define-color red #eb6f92;
@define-color red-surface #2E202F;

@define-color pine #31748f;
@define-color pine-surface #1B202F;

@define-color yellow #f6c177;
@define-color blue #9ccfd8;
@define-color magenta #c4a7e7;
@define-color rose #ebbcba;

* {
  all:unset;  
  font-family: "Mononoki Nerd Font Propo";
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  color: @foreground;
  background: @background;
}

#workspaces {
  margin: 0px 10px;
  border-radius: 8px;
}
/* Workspaces */
#workspaces button {
    padding: 2px 6px;
    color: @rose;
    background: @surface;
    
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: @surface;
}

#workspaces button.active {
    color: @red;
    border-color: @red-surface;
}
#workspaces button.empty {
    color: @subtle;
}
#workspaces button.empty.active {
    color: @red;
}
/* Clock */

#clock, #memory, #network, #battery, #pulseaudio{
    margin: 0px 10px;
    color: @subtle;
}
